.App {
}

.box {
	border-radius: 20px;
	border: 2px solid white;
	padding: 20px;
}

.App-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4080C0;
    height: 40px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: white;
}

.designer-logo {
    height: 40px;
    width: 40px;
    left: 20px;
}